// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.toppic {
	background-image: url("tembusucollege.jpeg");
	background-repeat: no-repeat;
	background-position: center;

	height: 200px;
	width: 500px;
}

.fronttitle {
	font-family: Times New Roman;
	color: #196600;
}

.container {
	text-align: center;
}

.field {
	padding: 5px; 
}

form {
	padding: 3px;
}

label, th {
	font-family: Times New Roman;
	font-size: 18px; 
	color: #196600;
}
h1, footer {
	font-family: Times New Roman;
	color: #196600;	
}

td, th {
	font-family: Times New Roman;
	font-size: 16px; 
	padding-left: 8px;
	padding-right: 8px;
}

p {
	font-family: Times New Roman;
	font-size: 16px; 
}

input[type="submit"] {
	font-family: Times New Roman;
	font-size: 16px; 
	border-radius: 8px;
	/*background-color: #ebd9c6;*/
	background-color: #196600;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

input[type="submit"]:hover {
	/*background-color: #d2a679;*/
	background-color: #008000;
}

#notice {
	color: red;
}

a {
	font-family: Times New Roman;
	font-size: 16px; 
	padding-left: 10px;
	padding-right: 10px;
	color: #006600;
}

a:hover {
	color: white;
	background-color: #006600;
	text-decoration: none;
	border-radius: 5px; 
}

table {
	margin: auto;
}

