<!DOCTYPE html>
<html>
<head>
  <title>TVM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class = "toppic container"></div>
	<div class = "container">
		<%= yield %>
	</div>
</body>

<br><br>
<footer class = "container"> Created by Tang Yew Siang and Sriram Sami for Tembusu Vertical Marathon &copy; 2016</footer>
</html>
